#vxDslT {
  width: 100%;
  min-height: 100%;
  padding-top: 200px;
  display: grid;
  place-items: center;
  @media only screen and (max-width: 375px) {
    padding-top: 100px;
  }
}

#vxDslT:after {
  content: "";
  display: block;
  height: 100px;
}
