#WpTjbx {
  width: 100%;
  min-height: 100%;
  padding-top: 200px;
  @media only screen and (max-width: 375px) {
    padding-top: 100px;
  }

  .experience {
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  #center-button {
    display: flex;
    justify-content: center;
    align-items: center;

    #get-in-touch {
      white-space: nowrap;
    }
  }
}

#WpTjbx:after {
  content: "";
  display: block;
  height: 100px;
}
