<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
<!-- TODO: make this your resume -->

<div class="container" id="WpTjbx">
  <section class="feature-header">
    <div><h2>Experience</h2></div>
  </section>
  <hr>

  <section class="experience">
    <div class="heading">
      <h3>Rep Health Application and Website</h3>
      <p>Sudbury, On</p>
    </div>
    <div class="section">
      <p class="job-title">FULL STACK SOFTWARE DEVELOPER</p>
      <p class="dates">2022 - Jul, 2024</p>
      <ul class="bullet-points">
        <li>Created a website, blog and landing page.</li>
        <li>Created a fully fledged application with one other developer.</li>
        <li>Demonstrated full stack development.</li>
        <li>Created wire frames and mockups.</li>
        <li>Created core features and functionality of the product.</li>
        <li>Identified problems or needs in the market.</li>
        <li>Conducted market research to validate company demands.</li>
        <li>Offered business insight.</li>
        <li>Wrote end to end tests and performed manual testing to ensure all features worked as expected.</li>
        <li>Reviewed other developers' code and provided constructive feedback.</li>
        <li>Wrote comprehensive documentation for users and developers.</li>
        <li>Set up a customer support system.</li>
        <li>Created onboarding experience.</li>
        <li>Created booking and scheduling systems.</li>
        <li>Filmed, edited and deployed onboarding materials, tutorials and marketing content.</li>
        <li>Integrated third-party services and APIs for enhanced functionality.</li>
        <li>Added AI capabilities.</li>
        <li>Mentored junior developers and onboarded them.</li>
      </ul>
    </div>
  </section>

  <section class="experience">
    <div class="heading">
      <h3>Elections Ontario</h3>
      <p>Sudbury, ON</p>
    </div>
    <div class="section">
      <p class="job-title">I.T FIELD TECHNICIAN</p>
      <p class="dates">May, 2022 - June, 2022</p>
      <ul class="bullet-points">
        <li>Perform maintenance on equipment and machinery</li>
        <li>Calibrate and test equipment</li>
        <li>Maintain Databases</li>
        <li>Maintain records of maintenance and repairs</li>
        <li>Troubleshoot and resolve issues in a timely manner</li>
        <li>Provide training</li>
        <li>Comply with all company policies and procedures</li>
        <li>Maintain a positive and professional attitude</li>
      </ul>
    </div>
  </section>


  <section class="experience">
    <div class="heading">
      <h3>Freelance</h3>
      <p>Sudbury, ON</p>
    </div>
    <div class="section">
      <p class="job-title">WEB DEVELOPER</p>
      <p class="dates">2021 - 2022</p>
      <ul class="bullet-points">
        <li>Developed cross-platform compatible CSS with mobile devices</li>
        <li>Generated original, SEO-rich copy that accurately describes products and services that display the company’s brand values in a positive light</li>
        <li>Clean-designed company logo using Photoshop that accurately reflects brand values and the way the company feels</li>
        <li>Provided product and service information to customers</li>
        <li>Created privacy policy and contact pages</li>
        <li>Followed up with company inquiries when necessary</li>
        <li>Generated product cart and order page that sends orders directly to the company</li>
        <li>Maintained and serviced website when necessary</li>
      </ul>
    </div>
  </section>

  <section class="feature-header">
    <div><h2>Skills</h2></div>
  </section>
  <hr>

  <section class="experience">
    <div class="heading">
      <h3>Front End Development:</h3>
    </div>
    <div class="section">
      <p class="job-title">MODERN, PERFORMANT FRONT ENDS.</p>
      <ul class="bullet-points">
        <li>CSS & CSS Animations (SCSS, LESS, POSTCSS, Tailwind, Bootstrap...)</li>
        <li>HTML</li>
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>Mithril.js</li>
        <li>Astro.js</li>
        <li>Vue</li>
        <li>Elm</li>
        <li>React</li>
        <li>React Native</li>
        <li>Capacitor.js</li>
        <li>Svelte</li>
        <li>WordPress</li>
      </ul>
    </div>
  </section>

  <section class="experience">
    <div class="heading">
      <h3>Back End Development:</h3>
    </div>
    <div class="section">
      <p class="job-title">HIGHLY SCALABLE.</p>
      <ul class="bullet-points">
        <li>Node.js</li>
        <li>PHP</li>
        <li>Python</li>
        <li>MYSQL</li>
        <li>C#</li>
        <li>Golang</li>
      </ul>
    </div>
  </section>

  <section class="experience">
    <div class="heading">
      <h3>Dev Ops:</h3>
    </div>
    <div class="section">
      <p class="job-title">SECURE, SCALABLE TOOLING.</p>
      <ul class="bullet-points">
        <li>Docker</li>
        <li>Linode</li>
        <li>Raspberry PI</li>
        <li>NGINX</li>
        <li>CloudFlare</li>
        <li>GitHub</li>
        <li>Stripe</li>
        <li>SendGrid/Mailgun</li>
        <li>OLLAMA AI Integrations</li>
        <li>WebPack</li>
        <li>ESBuild</li>
        <li>Vite</li>
      </ul>
    </div>
  </section>

  <section class="experience">
    <div class="heading">
      <h3>Design Tools:</h3>
    </div>
    <div class="section">
      <p class="job-title">BEAUTIFUL, RESPONSIVE DESIGNS.</p>
      <ul class="bullet-points">
        <li>Figma</li>
        <li>Adobe XD</li>
        <li>Photoshop</li>
      </ul>
    </div>
  </section>

  <section class="feature-header">
    <div><h2>Education</h2></div>
  </section>
  <hr>

  <section class="experience">
    <div class="heading">
      <h3>Mohawk College</h3>
      <p>Hamilton, On</p>
    </div>
    <div class="section">
      <p class="job-title">SOFTWARE DEVELOPMENT DEPLOMA</p>
    </div>
  </section>

  <section class="experience">
    <div class="heading">
      <h3>Cambrian College</h3>
      <p>Sudbury, On</p>
    </div>
    <div class="section">
      <p class="job-title">BUSINESS ADMINISTRATION (1 YEAR)</p>
    </div>
  </section>

  <section class="feature-header">
    <div><h2>Reference</h2></div>
  </section>
  <hr>

  <section id="testimonials">
    <article>
      <div class="testimonials-content">
        <p>
          <i>
            "I’m thrilled to recommend Max for any software development role or startup adventure. I had the pleasure of hiring Max, where he was a key player in launching our tech startup.
            <br>
            <br>
            From day one, Max showed a knack for turning complex ideas into working software. He’s a pro with a variety of programming languages and tools, from JavaScript and TypeScript to Python, PHP, and libraries like Mithril.js, Node.js, Astro.js and WordPress.
            <br>
            <br>
            One of his standout achievements was the development of our main product, Rep Health. This product has become the backbone of our business.
            <br>
            <br>
            Max also brought a lot to the table in terms of business strategy. He was a key part of our planning sessions, offering insights that helped shape our company's direction. Max's ability to blend tech development with business strategy was crucial to our successful launch and rapid growth.
            <br>
            <br>
            As a team player, Max was fantastic. He fostered a positive work environment, mentored junior developers, encouraged open communication and idea-sharing, and always took the time to motivate the team during challenging times.
            <br>
            <br>
            On a personal level, Max is reliable, loyal, hardworking, and passionate about innovation. Max's positive attitude and commitment to our mission were inspiring and played a huge role in our company’s success.
            <br>
            <br>
            His technical skills, business insight, and great personality make him a valuable asset to any team. I’m confident he’ll continue to excel and make a big impact wherever he goes."
          </i>
        </p>
        <p><strong>- Callen McGibbon</strong><br>CEO, Rep Health</p>
      </div>
    </article>
  </section>

  <div id="center-button">
    <a id="get-in-touch" href="/hire-me" type="button">
      Get In Touch
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"/>
      </svg>
    </a>
  </div>
</div>

<%- include('../partials/footer'); %>
