<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
<!-- TODO: make this your resume -->

<div class="container" id="WpTjbx">
  <section class="feature-header">
    <div><h2>Reference</h2></div>
  </section>

  <section id="testimonials">
    <article>
      <div class="testimonials-content">
        <p>
          <i>
            "I’m thrilled to recommend Max for any software development role or startup adventure. I had the pleasure of hiring Max, where he was a key player in launching our tech startup.
            <br>
            <br>
            From day one, Max showed a knack for turning complex ideas into working software. He’s a pro with a variety of programming languages and tools, from JavaScript and TypeScript to Python, PHP, and libraries like Mithril.js, Node.js, Astro.js and WordPress.
            <br>
            <br>
            One of his standout achievements was the development of our main product, Rep Health. This product has become the backbone of our business.
            <br>
            <br>
            Max also brought a lot to the table in terms of business strategy. He was a key part of our planning sessions, offering insights that helped shape our company's direction. Max's ability to blend tech development with business strategy was crucial to our successful launch and rapid growth.
            <br>
            <br>
            As a team player, Max was fantastic. He fostered a positive work environment, mentored junior developers, encouraged open communication and idea-sharing, and always took the time to motivate the team during challenging times.
            <br>
            <br>
            On a personal level, Max is reliable, loyal, hardworking, and passionate about innovation. Max's positive attitude and commitment to our mission were inspiring and played a huge role in our company’s success.
            <br>
            <br>
            His technical skills, business insight, and great personality make him a valuable asset to any team. I’m confident he’ll continue to excel and make a big impact wherever he goes."
          </i>
        </p>
        <p><strong>- Callen McGibbon</strong><br>CEO, Rep Health</p>
      </div>
    </article>
  </section>
</div>

<%- include('../partials/footer'); %>
